/*
Theme Name: Miraculous Music
Theme URI: https://musichero.ai
Description: Professional online music store WordPress theme converted from Miraculous HTML template. Features music player, playlists, artist profiles, and complete music streaming functionality.
Version: 1.0.0
Author: Phong DT
Author URI: https://github.com/phongdt29
Template:
Tags: music, audio, player, streaming, entertainment, media, playlist, artist, album
Text Domain: miraculous-music
Requires at least: 5.0
Tested up to: 6.4
Requires PHP: 7.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Miraculous Music WordPress Theme
Based on: Miraculous - Online Music Store Html Template v1.0.0
*/

/*
 * All styles are loaded from assets/css/style.css
 * This file is required by WordPress for theme recognition
 */
